*{
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
header{
    height: 100vh;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center;
}
.navigation{
    height: 10vh;
    background-color: #6D8EA9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin: 15px 32px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
}
.nav-links ul{
    list-style: none;
}
.nav-links ul li{
    display: inline-block;
    margin: 15px 32px;
    padding: 5px;
}
.nav-links ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    opacity: 0.8;
}
.nav-links ul li a:hover{
    opacity: 1;
    font-size: 21px;
}

